<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<header id="main-header">
		<div class="container">
		<h1>Intrusion Detection</h1>
	    </div>
	</header>

	<nav id="navbar">
		<div class="container">
		<ul>
			<li><a href="{{url_for('Home')}}">Home</a></li>
			<li><a href="{{url_for('dataset')}}">Dataset</a></li>
			<li><a href="{{url_for('MLModels')}}">MLModels</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	    </div>
	</nav>
	<section id="showcase">
		
	</section>
	<div id="page">
	<div class="container">
	<section id="main">
		<h1>
			In recent years,there has been a revolutionary change in the ﬁeld of networking,use of the internet is growing day by day and so is the risk of intrusion. Nowadays, it is very crucial to have a secure network because of increasing dependability on the internet and to achieve high-level security. One of the possible ways is through the intrusion detection. Intrusion detection is an eﬃcient technique, which aims to identify various network attacks and further classify these network attacks into several categories. Presently, the web is broadly utilized in various organizations and the business prerequisites have caused enterprises to convey their very own data frameworks on the web. Due to large dependability on an information system,it became a major bottleneck, and thus the primary target for the intruders
			The ability of diﬀerent machine learning algorithms to accurately detect aparticular attack type,drives a motivation to use them to build a hybrid model which is cable of predicting all attack type precisely with low bias and low variance.
		</h1>
		
	</section>
	<aside id="sidebar">
		<p>
			Nowadays, with the evolution of new advances like cloud computing, Big data, Internet of things, block chain, etc., which generates the enormous amount of network traﬃc, it becomes almost impossible to analyze the data and detect the intrusion in time. With the advancement in the machine learning (ML) domain, ML techniques enabled an intrusion detection system(IDS)results inless error rate and more accurate to classify various attacks in less possible time by eliminating the data which are of no use 
		</p>
		
	</aside>
</div>
</div>

<footer id="main-footer">
	<p>BTP Project-Group 13</p>
</footer>

</body>
</html>